*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, minmax(20px, 1fr));
  grid-template-rows: repeat(4, 10vw);
  gap: 15px 20px;
  padding: 16px;
  background-color: rgb(82, 94, 94, 0.137);
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: opacity 0.6s;
}
.img:hover {
  opacity: 1;
}
.img-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.img-2 {
  grid-row: 3/5;
  grid-column: 7/9;
}
.img-3 {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
}
.img-4 {
  grid-row: 1 / 3;
  grid-column: 7 / 9;
}
.img-5 {
  grid-row: 2/4;
  grid-column: 1/3;
}
.img-6 {
  grid-row: 3/4;
  grid-column: 3/5;
}
.img-7 {
  grid-row: 2/4;
  grid-column: 6/7;
}
.img-8 {
  grid-row: 3/5;
  grid-column: 5/6;
}
.img-9 {
  grid-row: 4/5;
  grid-column: 1/3;
}
.img-10 {
  grid-row: 4/5;
  grid-column: 3/5;
}
.img-11 {
  grid-row: 4/5;
  grid-column: 6/7;
}
.img-12 {
  grid-row: 1 / 3;
  grid-column: 3 / 6;
}
.page {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  animation: move 7s;
  clip-path: circle(100%);
}
@keyframes move {
  0% {
    clip-path: circle(0%);
  }
}
